*{
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    padding: 0 10px;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: sans-serif;
}


h1{
    color: #000;
    font-weight: bold;
}

table{
    width: 100%;
    border-collapse: collapse;
    
}
table,tr,th,td{
    /* border: 1px solid #000; */
    margin: 0;
    padding: 0;
    text-align: start !important;
}

table thead tr{
    background-color: #ddd;
    border: 2px solid rgb(150, 149, 149);
   font-size: 11px;
}

table tbody tr{
    border: none;
    text-align: start;
}

table thead th{
    border: none;
    padding: 3px 14px;

}
table tbody tr td{
    padding: 3px 14px;
     font-size: 11px;
}
table tbody tr:nth-child(even){
    background-color: #ddd;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}




.head{
    border-top: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
    padding: 10px 0;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.body{
    margin: 0;
    
}


.body ul {
    display: flex;
    gap: 10px;
    align-items: center;
}
.body ul li:first-child {
    font-weight: bold;
    font-size: 18px;
    margin: 4px 0;
}

.body ul li:last-child {
    font-weight: 500;
    font-size: 17px;
    margin: 4px 0;
}

